@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --section-margin-base: 24px;
  --section-margin-lg: 72px;
}

.light {
  --bg: #fff;
  --text: #222222;
  --text-secondary: #666666;
  --primary: #4f46e5;
}

.dark {
  --bg: #222222;
  --text: #f6f6f6;
  --text-secondary: #999999;
  --primary: #4f46e5;
}

.section-white {
  --bg: #fff;
  --text: #222222;
  --text-secondary: #666666;
  --primary: #4f46e5;
}

.section-lightGray {
  --bg: #f6f6f6;
  --text: #222222;
  --text-secondary: #666666;
  --primary: #4f46e5;
}

.section-darkGray {
  --bg: #3f3939;
  --text: #f6f6f6;
  --text-secondary: #999999;
  --primary: #4f46e5;
}

.section-black {
  --bg: #222222;
  --text: #f6f6f6;
  --text-secondary: #999999;
  --primary: #4f46e5;
}
