import { storyblokEditable } from '@storyblok/react' import type {
{{capitialize componentName}}Props } from './types' const
{{capitialize componentName}}
= ({ blok }:
{{capitialize componentName}}Props) => { return (
<section {...storyblokEditable(blok)} className="w-full">
  {/* Add your component content here */}
</section>
) } export default
{{capitialize componentName}}