import type { I{{ capitialize componentName }}Props } from "./types"

export function {{ capitialize componentName }} ({ title }: I{{ capitialize componentName }}Props)  {
  return (
    <div>
      new UI component: Table
      title: {title || 'title not provided'}
    </div>
  )
}
