import React from "react"
import { type I{{ capitialize componentName }}Props } from "./types"

// todo: remove React.FC<> and replace with common function and type
export const {{ capitialize componentName }}: React.FC<I{{ capitialize componentName }}Props> = (
  ({ title }) => {
    return (
      <div>
        new UI component: Table
        title: {title || 'title not provided'}
      </div>
    )
  }
)