import type { I{{capitialize sectionName}}Props } from "./types" export function
{{capitialize sectionName}}
({ title }: I{{capitialize sectionName}}Props) { return (
<div>
  new UI component: Table title: {title || 'title not provided'}
</div>
) }