import type { I{{capitialize sectionName}}Props } from "./types"

export function {{capitialize sectionName}}({ title }: I{{capitialize sectionName}}Props) {
  return (
    <div className="bg-white dark:bg-gray-900">
      <div className="text-gray-500 sm:text-lg dark:text-gray-400">
        {title}
      </div>
    </div>
  );
}
    