import React from "react";
import type { I{{ capitialize sectionName }}Props } from "./types";



export const {{ capitialize sectionName }}: React.FC<I{{ capitialize sectionName }}Props> = ({ title }) => {
    return (
        <div className="bg-white dark:bg-gray-900">
            <div className="max-w-screen-lg text-gray-500 sm:text-lg dark:text-gray-400">
                {title}
            </div>
        </div>
    )
}